@media(min-width:768px){
    .media__grid__four{
     display: grid;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     gap: 1rem;
     padding-left: 3rem/* 48px */;
    padding-right: 3rem/* 48px */;
    }
 }